@layer base {
  html {
    /* This ensures 1rem is responsive to the device's base font size */
    font-size: 16px; 
    -webkit-text-size-adjust: 100%;
  }

  body {
    /* Switching from 'font-bold' (700) to 'font-semibold' (600) for a "slimmer" look */
    @apply antialiased text-bloom-brown-dark font-medium leading-tight;
    letter-spacing: -0.01em;
  }
}

/* Custom class for "Adaptive" large text */
.text-fluid-balance {
  font-size: clamp(1.8rem, 8vw, 2.5rem);
  letter-spacing: -0.03em;
}